/* General styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    
}

header {
    background-color: #000;
    padding: 10px;
    text-align: center;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Section-specific styles */

.slide-down {
    padding: 50px 0;
}

.movie-card,
.character-card,
.comic-card {
    background-color: #1a1a1a;
    padding: 20px;
    margin-bottom: 20px;
}

.movie-card img,
.character-card img,
.comic-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-card h3,
.character-card h3,
.comic-card h3 {
    color: #dc143c;
}

.movie-card p,
.character-card p,
.comic-card p {
    line-height: 1.5;
}

.movie-card a,
.character-card a,
.comic-card a {
    display: block;
    text-align: center;
    color: #dc143c;
    text-decoration: none;
    margin-top: 10px;
}

.movie-card a:hover,
.character-card a:hover,
.comic-card a:hover {
    text-decoration: underline;
}

#sobre img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
}

/* Styling the DC Comics logo */
#sobre img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    border: 5px solid #dc143c;
    border-radius: 50%;
    padding: 10px;
}

/* Styling the navigation links when active */
nav a:hover {
    color: #dc143c;
    border-bottom: 2px solid #dc143c;
}

/* Additional styles to enhance the DC Comics theme */
h2 {
    color: #dc143c;
    text-align: center;
}

h3 {
    color: #dc143c;
}

a {
    color: #dc143c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
html{
    scroll-behavior: smooth;
}
